  header {
  background-color: #2a2a2a;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0/50%);
  vertical-align: baseline;
  font: inherit;
}
li {
  display: inline-block;
}
/* for orange text */
.content span, .one span {
  color: #ffa500
}
/* our services styling */
h1 {
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  background-position: center;
   color: #ffff;
   font-family: RobotoCondensed;
font-size: 50px;
text-shadow: 1px 2px 2px #000;
text-align: center;
padding: 70px 0;
width: 100}
/* our services padding */
.content {
  padding: 50px 0 70px;
  }
/* ==main content margins== */
  div {
    max-width: 1150px;
    margin: auto;
  }
/* == sub-heading styling== */
  h2 {
    font-family: RobotoCondensed;
    font-size: 34px;
    color: #0a465b;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
  }
/* == common paragrsph msrgins== */
  div > p {
    color: #7f969e;
    font-size: 18px;
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
    line-height: 1.4;
    height: 100%;
  }
/* ==grey background== */
.VarietyOfService{
  background-color: #edeff3;
}
/* ==article title box styling== */
.one h3 {
  font-size: 24px;
  box-sizing: border-box;
  background-color: #107698;
  display: flex;
    justify-content: center;
    align-items: center;
  color: #ffff;
  text-align: center;
  min-height: 110px;
  font-variant: small-caps;
  margin: 0px 10px;
  margin-block-start: 0.83em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* ==article para box styling== */
.one p {
font-size: 16px;
box-sizing: border-box;
padding: 20px 25px 20px 25px;
background-color: #ffff;
color: #7f969e;
line-height: 1.4;
border-top: 5px solid #d1d0ce;
margin: 0px 10px;
box-shadow: 0px 2px 4px 0px rgb(0 0 0/25%);
min-height: 110px
}
.first  {
  display: flex;
flex-flow: row;
justify-content: center;
justify-content: space-around;
}
