body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* ==head styling== */
  header {
  background-color: #2a2a2a;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0/50%);
  vertical-align: baseline;
  font: inherit;
}
li {
  display: inline-block;
}
/* =main= */
/* for orange text */
.content span, .one span, .three span {
  color: #ffa500
}
/* our services styling */
h1 {
  font-weight: 300;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  background-position: center;
   color: #ffff;
font-size: 50px;
text-shadow: 1px 2px 2px #000;
text-align: center;
padding: 70px 0;
width: 100}
/* our services padding */
.content {
  padding: 50px 0 70px;
  }
/* ==main content margins== */
  .content .para, .first, #specialization, .infos, .sponserimg {
    max-width: 1150px;
    margin: auto;
      padding-bottom: 40px;
  }
/* == sub-heading styling== */
.para  h2 {
    font-size: 34px;
    color: #0a465b;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
  }
/* == common paragrsph msrgins== */
  div > p {
    color: #7f969e;
    font-size: 18px;
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
    line-height: 1.4;
    height: 100%;
  }
/* ==grey background== */
.VarietyOfService{
  background-color: #edeff3;
}
/* ==section 2 styling== */
.first article {
  width: 350px;
}
.one h3 {
  font-size: 24px;
  box-sizing: border-box;
  background-color: #107698;
  display: flex;
    justify-content: center;
    align-items: center;
  color: #ffff;
  text-align: center;
  min-height: 110px;
  font-variant: small-caps;
  margin: 0px 10px;
  margin-block-start: 0.83em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* ==article para box styling== */
.one p {
font-size: 16px;
box-sizing: border-box;
padding: 20px 25px 20px 25px;
background-color: #ffff;
color: #7f969e;
line-height: 1.4;
border-top: 5px solid #d1d0ce;
margin: 0px 10px;
box-shadow: 0px 2px 4px 0px rgb(0 0 0/25%);
min-height: 110px
}
.first  {
  display: flex;
flex-flow: row;
justify-content: center;
justify-content: space-around;
}

/* ==section 3 styling== */
#second {
  max-width: 350px;
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
}
#second .two h3 {
font-size: 24px;
color: #0a465b;
text-align: center;
font-variant: small-caps;
display: flex;
  justify-content: center;
  align-items: center;
border-bottom: 2px solid #FDB530;
padding: 7px 0;
margin: auto;
width: 80%;
}
#second .two p {
  padding: 15px;
  text-align: center;
  font-size: 16px;
    display: inline-block;
    line-height: 1.4;
    color: #7f969e;
}

/* ==section 4 styling== */
.third .three h3 {
  font-size: 24px;
  box-sizing: border-box;
  background-color: #107698;
  display: flex;
    justify-content: center;
    align-items: center;
  color: #ffff;
  text-align: center;
  min-height: 110px;
  font-variant: small-caps;
  margin: 0px 20px;
  margin-block-start: 0.83em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.third .three p {
  font-size: 16px;
  box-sizing: border-box;
  padding: 20px 25px 20px 25px;
  background-color: #ffff;
  color: #7f969e;
  line-height: 1.4;
  border-top: 5px solid #d1d0ce;
  margin: 0px 20px;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0/25%);
  min-height: 110px
}
.third .three {
  max-width: 350px;
}
#specialization {
  display: flex;
flex-flow: row;
justify-content: space-around;
}
/* ==section 5 styling== */
section.content .para .info {
  max-width: 850px;
  margin: 0 auto;
}
section.content .para .info .contact {
  width: 340px;
    display: inline-block;
    position: relative;
}

section.content .para .info .hover a {
  cursor: pointer;
}
.hover #button {
  width: 165px;
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    padding: 15px 0px 15px 50px;
    background-color: #107698;
    border: 2px solid #FDB530;
    border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 50%);
transition: 0.2s;
position: relative;
margin-left: 65px;
}

/* ==section 6 styling== */
.VarietyOfService .sponserimg img {
  margin: auto;
  height: 90px;
}
/* ==footer styling== */
footer {
  background-color: #504f4f;
  display: block;
    width: 100%;
    line-height: 1.4;
    color: #c7c5c5;
    text-align: center;
    padding: 40px 0;
}
