body {
  background-color: #1f282b;
}

section.board {
  background-color: #ffff;
  height: 700px;
  width: 500px;
  margin: auto;
  margin-top: 25px;
}

.board .writeup {
  background-color: #01364a;
  height: 150px;
}

.board #pp {
 display: inline;
 margin: 15px 0 0 20px;
}

.writeup #contactdetails {
  display: inline;
    position: relative;
    bottom: 110px;
    left: 150px;
    color: #ffff;
    font-size: 12px;
}
/* .board #pp {
  float: left;
  padding: 20px 0 0 25px;
}

.board .writeup {
  background-color: #ffff;
  border: 2px solid #ffffff;
  height: 650px;
  width: 400px;
  font-size: 10px;
  margin: auto;
  margin-top: 23px;
}

.writeup #contactdetails {
  padding: 10px 0 0 90px
}

h2#name {
  font-size: 24px;
  padding-left: 100px;
  border-top: 20px
}
div.profiles img {
margin: 50px 0 0 -40px;
}
div.profiles .Detail {
  display: inline-block;
  margin: 40px 0 0 10px;
} */
