body {
  background-color: #1f282b;
}

section.board {
  background-color: #ffff;
  height: 700px;
  width: 500px;
  margin: auto;
  margin-top: 25px;
}

.board .writeup {
  background-color: #01364a;
  height: 150px;
}

.board #pp {
  display: inline;
  margin: 15px 0 0 20px;
}

.writeup #contactdetails {
  display: inline;
  position: relative;
  bottom: 110px;
  left: 150px;
  color: #ffff;
  font-size: 12px;
}

h2#name {
  position: relative;
  left: 150px;
  bottom: 90px;
  font-size: 20px;
  color: #ffff;
}

div.leftcolumn img {
  margin-left: 30px;
  position: relative;
  bottom: 50px;
  width: 0.7px
}

div.leftcolumn .Detail {
  display: inline-block;
  margin-left: 10px;
  position: absolute;
}

/* divisions */
.columns {
  display: inline-flex;
  justify-content: space-between;
}

.columns .leftcolumn .Detail {
  position: relative;
  bottom: 60px
}

.columns .rightcolumn {
  width: 200px;
  position: relative;
  left: 80px;
  bottom: 50px;
}

.columns .leftcolumn .Detail .left, .columns .rightcolumn .right {
  margin-bottom: 10px
}
.columns .leftcolumn .Detail .left h2, .columns .rightcolumn .right h2 {
  font-weight: normal;
  font-size: 18px;
  color: #00000;
  padding: 5px 0
}
